* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    margin: 15px;
}

.clock {
    width: 400px;
    height: 400px;
    background: rgb(236, 166, 38);
    border-radius: 50%;
    position: relative;
}

.block_numbers {
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 50%;
    position: absolute;
}

.numbers {
    font-size: 1em;
    text-align: center;
}