* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    position: relative;
    background: rgb(215, 172, 92);
    margin-top: 5em;
    border: 2px solid black;
}

.racquet {
    position: absolute;
    width: 10px;
    height: 60px;
    background: green;
}

.racquet2 {
    position: absolute;
    width: 10px;
    height: 60px;
    background: blue;
    left: 387px;
}

.ball {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: yellow;
}